html {
    height: 100%;
}

body {
    background: var(--color-background-base-default, #101923);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    padding: 0;
    margin: 0;
    border: 0;
    height: 100vh;

    font-family: sans-serif;
}

div {
    width: 100%;
}