name: build

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  changed-files:
    name: changed-files
    runs-on: ubuntu-slim
    outputs:
      src: ${{ steps.changed-files-yaml.outputs.src_any_changed }}
    steps:
      - uses: actions/checkout@v6
      - id: changed-files-yaml
        uses: tj-actions/changed-files@v47
        with:
          files_yaml: |
            src:
              - 'src-tauri/**/*.rs'
              - 'src-tauri/Cargo.toml'
              - 'src/**/*.svelte'
              - '**/*.ts'
              - '**/*.js'
              - '**/*.html'
              - 'package.json'
              - 'tsconfig.json'
              - 'tsconfig.node.json'

  build:
    needs: changed-files
    if: ${{ needs.changed-files.outputs.src == 'true' }}
    name: test-main-on-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-build
        with:
          components: "rustfmt, clippy"
          os: ${{ matrix.os }}
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: cargo make check

  all-tests-passed:
    if: ${{ always() }}
    name: all-tests-passed
    runs-on: ubuntu-slim
    needs: [build]
    steps:
      - if: ${{ needs.build.result == 'failure' || needs.build.result == 'cancelled'  }}
        run: exit 1

  auto-merge:
    needs: all-tests-passed
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-slim
    if: ${{ always() && !cancelled() && !failure() && github.actor == 'dependabot[bot]' }}
    steps:
      - run: gh pr merge --rebase --auto "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
