name: Release

on:
  push:
    tags:
    - 'v*'

jobs:
  release:
    name: create-github-release
    runs-on: ubuntu-latest
    steps:
      - id: create_release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: false
          prerelease: false
      - run: |
          echo "${{ steps.create_release.outputs.id }}" > release_id.txt
      - uses: actions/upload-artifact@v5
        with:
          name: release_id
          path: release_id.txt
 
  publish-server:
    name: publish-server-${{ matrix.os }}
    needs: [release]
    permissions:
      contents: write
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-build
        with:
          os: ${{ matrix.os }}
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - run: cargo make license
      - run: cargo make build
      - uses: actions/download-artifact@v6
        with:
          name: release_id
      - id: get_release_info
        uses: juliangruber/read-file-action@v1
        with:
          path: release_id.txt
      - uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          releaseId: ${{ steps.get_release_info.outputs.content }}
          projectPath: '.'
          releaseDraft: true
          prerelease: false
